<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="Bds_bdcommand" type="com.bdjw.bean.Bds_bdcommand"/>
        <typeAlias alias="Bds_localbdusers" type="com.bdjw.bean.Bds_localbdusers"/>
        <typeAlias alias="Dev_msg" type="com.bdjw.bean.Dev_msg"/>
        <typeAlias alias="Dev_position" type="com.bdjw.bean.Dev_position"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/bdjw/mybatis/mybatis.xml"/>
    </mappers>

</configuration>